/*-- scss:defaults --*/

$primary: #ff5252 !default;
$secondary: #66bbff !default;
$body-bg: #210000 !default;
$body-color: #ffe1e1 !default;
$font-size-root: 1.25rem !default;
$font-family-sans-serif: "Luciole" !default;
$font-family-monospace: "Fira Code" !default;

$neutral: $body-color !default;
$em-background-color: #241c22 !default;
$code-foreground: #ffffff !default;
$code-background: #1a1025 !default;
$code-comment: #b06ee0 !default;
$code-number: #ff7869 !default;
$code-constant: #ffbc6a !default;
$code-string: #c5ff93 !default;
$code-operator: #a2fff6 !default;
$code-keyword: #d08aff !default;
$caption-color: #ccc !default;
$figure-shadow: #0a0a0a !default;
$str-color: #6dca8a !default;
$dig-color: #ff9090 !default;
$tab-background: #241c22 !default;

$callout-note: #66bbff !default;
$callout-tip: #5fc06a !default;
$callout-caution: #e0a030 !default;
$callout-warning: #e07030 !default;
$callout-important: #fff !default;
$callout-mix-base: #1a0508 !default;
$callout-text-mix: white !default;
$callout-bg-mix: 92% !default;

$primary-back: color-mix(in srgb, #{$primary}, black 90%) !default;
$primary-dark: color-mix(in srgb, #{$primary}, white 40%) !default;
$line-color: color-mix(in srgb, #{$primary}, black 85%) !default;
$nb-mix-color: black !default;
$nb-mix-amount: 10% !default;
